<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Log in to see more</p>
      
      <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" class="detail" /><br />
        <input type="text" name="username" placeholder="username" class="detail" /><br />
        <input type="text" name="fullname" placeholder="fullname" class="detail" /><br />
        <input type="password" name="password" placeholder="Password" class="detail" />
        <input type="submit" class="btn int" value="Register Account">
      </form>
     
      <a href="/forgot">Forgot your password?</a>
  
      <button class="btn int">Log in</button>
      <p class="or">OR</p>
      <button class="btn fbk">
        <i class="fab fa-facebook fa-lg" style="color: white; padding-right: 10px"></i><a href="#">Continue with Facebook</a></button><br />
      <button class="btn ggl">
        <i class="fab fa-google" style="color: rgb(11, 241, 22); padding-right: 10px"></i><a href="#">Continue with Google</a>
      </button>
  
      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/login">Already on Pintrest? LogIn</a>
      </footer>
    </div>
  </div>
</body>
</html>